version: '3.3'

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - HOST=0.0.0.0
      - PORT=8000
    depends_on:
      - postgres
    volumes:
      - .:/app
    entrypoint: ["sh", "-c", "./entrypoint.sh"]

volumes:
  postgres_data: