[BASIC]
init-hook='import sys; sys.path.append(".")'
disable = 
    missing-functions-docstring,
    missing-module-docstring,
    too-few-public-methods,
    not-callable,
    attribute-defined-outside-init,
    ungrouped-imports,
    wrong-imports-order,
    duplicate-code,
    unused-import,
    too-many-arguments,
    unused-argument,
    too-many-positional-arguments,
    import-outside-toplevel,
    too-many-instance-attributes,
ignore-paths = 
    deploy,
    temp,
    build,
    tests,
    src/desk/repository/sqlalchemy/migration/alembic,
extension-pkg-whitelist=
    pydantic,
    orjson,
generated-members =
    [pydantic.PostgresDsn.build]